# virtual env
.venv/

# python
__pycache__/
*.pyc

# data
data/
# Ignore experimental models
models/**

# Allow runtime baseline models
!models/*.txt
!models/*.pkl
!models/price_prediction/**


# notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store

# packaging artifacts
*.egg-info/

#notebooks
*.ipynb

#misc
.env
