# virtual env
.venv/

# python
__pycache__/
*.pyc

# data
data/
models/

# notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store

# packaging artifacts
*.egg-info/

#notebooks
*.ipynb

#misc
.env
